<div class="container about-container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <section class="image-container">
        <img id="profile-picture" src="images/profile.png" alt="me" style="width:100px;height:100px;">
      </section>
      <h3>About</h3>
      <p>I specialise in Front End Web development using best practices such as Behaviour/Test Driven Development, Pair Programming and Agile methodologies.</p>
      <p>Prior to being a developer I worked in Banking. I made the change as being a developer combines areas I'm passionate about – technology, solving problems and exploring new things.</p>
      <p>Please see some of my work below.</p>
    </div>
  </div>
</div>

{{yield}}
