<div class="container cv-container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <h2>Pete M McCarthy</h2>
      <h4>Profile</h4>
      <p>I like to deliver working software and amazing client experiences.</p>
      <h4>Experience</h4>
      <p>Front End Developer - British Gas</p>
      <h4>Education</h4>
      <p>Makers Academy – 12 week intensive software and web development bootcamp (June – Sep 2014)
        B.A. Business Economics(2:2), University of Leicester (Sep 2000 – Jun 2003)
        Mathematics & Economics Foundation Course, University of Leicester (Sep 1999 – Jun 2000)
      </p>
    </div>
  </div>
</div>
{{yield}}
