<nav class="navbar navbar-default main-menu">
  <div class="container-fluid menuitem-container">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">petemmccarthy.com</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="#about" id="menuitem-home">About</a></li>
            <li><a href="#work" id="menuitem-profile">Profile</a></li>
            <li><a href="#contact" id="menuitem-contact">Contact</a></li>
            <li><a href="#cv" id="menuitem-cv">CV</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="page-divider"></div> -->

{{yield}}
